
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.exe-2-large-screen-3rF {
  width: 100%;
  height: 498rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.exe-2-large-screen-3rF .footer-eb9 {
  width: 141.2rem;
  height: 53.1rem;
  position: absolute;
  left: 5rem;
  top: 439.6rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group.png');
}
.exe-2-large-screen-3rF .footer-eb9 .social-jm1 {
  width: 19.2rem;
  height: 4.2rem;
  position: absolute;
  left: 11.9rem;
  top: 34.6rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .footer-eb9 .social-jm1 .facebook-1-dbV {
  margin: 0rem 3.82rem 0.016rem 0rem;
  width: 4.2rem;
  height: 4.1844rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .footer-eb9 .social-jm1 .x-twitter-1-Xgs {
  margin-right: 3.8045rem;
  width: 3.7751rem;
  height: 3.4125rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .footer-eb9 .social-jm1 .instagram-1-fHH {
  margin-bottom: 0.0017rem;
  width: 3.602rem;
  height: 3.6762rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .footer-eb9 .quick-links-nsh {
  width: 14.5rem;
  height: 14.1rem;
  position: absolute;
  left: 107.2rem;
  top: 28.8rem;
  row-gap: 2.4rem;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .footer-eb9 .quick-links-nsh .home-WYo {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .footer-eb9 .quick-links-nsh .facilities-cbq {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .footer-eb9 .quick-links-nsh .contact-us-xfh {
  margin-left: 0.1rem;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .footer-eb9 .ready-to-stay-with-us-UP9 {
  width: 82.6rem;
  height: 8.6rem;
  position: absolute;
  left: 11.3rem;
  top: 5.9rem;
  font-size: 7rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .footer-eb9 .book-your-escape-to-breeze-land-xZD {
  width: 66.4rem;
  height: 4.9rem;
  position: absolute;
  left: 11.5rem;
  top: 16.4rem;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .footer-eb9 .line-4-ruV {
  width: 119.7rem;
  height: 0.1rem;
  position: absolute;
  left: 11.9rem;
  top: 23.6rem;
  background-color: #ffffff;
}
.exe-2-large-screen-3rF .footer-eb9 .logo-white-yDR {
  width: 18.6952rem;
  height: 13.5633rem;
  position: absolute;
  left: 110.9rem;
  top: 7.3rem;
  object-fit: contain;
  vertical-align: top;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy {
  box-sizing: border-box;
  padding: 10rem 5rem 6.8rem 5rem;
  width: 151.2rem;
  height: 93.8rem;
  position: absolute;
  left: 0;
  top: 340.5rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.5);
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .our-happy-customers-xr3 {
  margin: 0rem 0rem 7.5rem 0.1rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d {
  margin: 0rem 0.1rem 3.3rem 0rem;
  height: 33.2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .auto-group-a7yb-1JX {
  box-sizing: border-box;
  padding: 4.8rem 5.7rem 4.8rem 0rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .auto-group-a7yb-1JX .rectangle-55-Xnf {
  margin-right: 5.7rem;
  width: 21.9rem;
  height: 23.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .auto-group-a7yb-1JX .rectangle-56-Sud {
  width: 21.9rem;
  height: 23.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .selected-image-big-size-yuZ {
  width: 30.7rem;
  height: 100%;
  position: relative;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-sizing: border-box;
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-57-bg.png');
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .selected-image-big-size-yuZ .rectangle-61-vpo {
  width: 24.8rem;
  height: 4.3rem;
  position: absolute;
  left: 3rem;
  top: 27.1rem;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .selected-image-big-size-yuZ .alex-mathew-Dou {
  width: 11.4rem;
  height: 2.2rem;
  position: absolute;
  left: 9.7rem;
  top: 28.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .auto-group-hdmq-kxF {
  box-sizing: border-box;
  padding: 4.8rem 0rem 4.8rem 5.7rem;
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .auto-group-hdmq-kxF .rectangle-58-t2s {
  margin-right: 5.7rem;
  width: 21.9rem;
  height: 23.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .image-scroll-H7d .auto-group-hdmq-kxF .rectangle-59-Daw {
  width: 21.9rem;
  height: 23.6rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .dialouge-box-jZH {
  width: 100%;
  height: 26.1rem;
  position: relative;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .dialouge-box-jZH .dialouge-gzK {
  width: 141.2rem;
  height: 26.1rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.exe-2-large-screen-3rF .fourth-div-section-Ufy .dialouge-box-jZH .lorem-ipsum-dolor-sit-amet-consectetur-porttitor-leo-eros-in-urna-id-tortor-amet-non-libero-tellus-adipiscing-nibh-est-enim-purus-sed-quisque-lorem-commodo-gravida-convallis-dignissim-pulvinar-nisl-scelerisque-leo-ullamcorper-q6X {
  width: 121.4rem;
  height: 9.8rem;
  position: absolute;
  left: 10.2rem;
  top: 11rem;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.3;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
}
.exe-2-large-screen-3rF .room-tile-cFh {
  box-sizing: border-box;
  padding: 3.401rem 3.262rem 3.367rem 2.662rem;
  width: 45.6417rem;
  height: 46.3rem;
  position: absolute;
  left: 5.1rem;
  top: 225.8rem;
  border: solid 0.1rem rgba(101, 101, 107, 0.3000000119);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-cFh .image-1-7TM {
  margin-bottom: 5.5956rem;
  width: 39.7171rem;
  height: 26.4415rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-cFh .ac-master-bedroom-eCP {
  margin-bottom: 2.3275rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .room-tile-cFh .auto-group-dugf-AgX {
  margin: 0rem 4.38rem 0rem 0.219rem;
  width: calc(100% - 4.5993rem);
  height: 2.6675rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .room-tile-cFh .auto-group-dugf-AgX .group-2212-hAf {
  margin: 0rem 5.473rem 0.034rem 0rem;
  box-sizing: border-box;
  padding: 0.034rem 0rem 0.034rem 0.115rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-cFh .auto-group-dugf-AgX .group-2212-hAf .doneoutlinefill0wght400grad0opsz24-1-1BM {
  margin: 0rem 0.525rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-cFh .auto-group-dugf-AgX .group-2212-hAf .person-h4B {
  margin-bottom: 0.0646rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-cFh .auto-group-dugf-AgX .group-2213-QjH {
  margin-top: 0.0343rem;
  box-sizing: border-box;
  padding-left: 0.1152rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-cFh .auto-group-dugf-AgX .group-2213-QjH .doneoutlinefill0wght400grad0opsz24-1-Lsq {
  margin: 0rem 0.879rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-cFh .auto-group-dugf-AgX .group-2213-QjH .kingsize-bed-rrB {
  margin-bottom: 0.1332rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-LFZ {
  box-sizing: border-box;
  padding: 3.401rem 3.262rem 3.367rem 2.662rem;
  width: 45.6417rem;
  height: 46.3rem;
  position: absolute;
  left: 52.9rem;
  top: 225.8rem;
  border: solid 0.1rem rgba(101, 101, 107, 0.3000000119);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-LFZ .image-1-ELw {
  margin-bottom: 5.5956rem;
  width: 39.7171rem;
  height: 26.4415rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-LFZ .ac-master-bedroom-Ze7 {
  margin-bottom: 2.3275rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .room-tile-LFZ .auto-group-c3yy-gij {
  margin: 0rem 4.38rem 0rem 0.219rem;
  width: calc(100% - 4.5993rem);
  height: 2.6675rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .room-tile-LFZ .auto-group-c3yy-gij .group-2212-oHZ {
  margin: 0rem 5.473rem 0.034rem 0rem;
  box-sizing: border-box;
  padding: 0.034rem 0rem 0.034rem 0.115rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-LFZ .auto-group-c3yy-gij .group-2212-oHZ .doneoutlinefill0wght400grad0opsz24-1-Jk7 {
  margin: 0rem 0.525rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-LFZ .auto-group-c3yy-gij .group-2212-oHZ .person-oRy {
  margin-bottom: 0.0646rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-LFZ .auto-group-c3yy-gij .group-2213-ioq {
  margin-top: 0.0343rem;
  box-sizing: border-box;
  padding-left: 0.1152rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-LFZ .auto-group-c3yy-gij .group-2213-ioq .doneoutlinefill0wght400grad0opsz24-1-rQF {
  margin: 0rem 0.879rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-LFZ .auto-group-c3yy-gij .group-2213-ioq .kingsize-bed-BBd {
  margin-bottom: 0.1332rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-3jd {
  box-sizing: border-box;
  padding: 3.401rem 3.262rem 3.367rem 2.662rem;
  width: 45.6417rem;
  height: 46.3rem;
  position: absolute;
  left: 100.7rem;
  top: 225.8rem;
  border: solid 0.1rem rgba(101, 101, 107, 0.3000000119);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-3jd .image-1-ktw {
  margin-bottom: 5.5956rem;
  width: 39.7171rem;
  height: 26.4415rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-3jd .ac-master-bedroom-6C7 {
  margin-bottom: 2.3275rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .room-tile-3jd .auto-group-7std-ocK {
  margin: 0rem 4.38rem 0rem 0.219rem;
  width: calc(100% - 4.5993rem);
  height: 2.6675rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .room-tile-3jd .auto-group-7std-ocK .group-2212-Kaf {
  margin: 0rem 5.473rem 0.034rem 0rem;
  box-sizing: border-box;
  padding: 0.034rem 0rem 0.034rem 0.115rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-3jd .auto-group-7std-ocK .group-2212-Kaf .doneoutlinefill0wght400grad0opsz24-1-Ehd {
  margin: 0rem 0.525rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-3jd .auto-group-7std-ocK .group-2212-Kaf .person-4gf {
  margin-bottom: 0.0646rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-3jd .auto-group-7std-ocK .group-2213-Ajh {
  margin-top: 0.0343rem;
  box-sizing: border-box;
  padding-left: 0.1152rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-3jd .auto-group-7std-ocK .group-2213-Ajh .doneoutlinefill0wght400grad0opsz24-1-VGB {
  margin: 0rem 0.879rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-3jd .auto-group-7std-ocK .group-2213-Ajh .kingsize-bed-BPu {
  margin-bottom: 0.1332rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rW3 {
  box-sizing: border-box;
  padding: 3.401rem 3.262rem 3.367rem 2.662rem;
  width: 45.6417rem;
  height: 46.3rem;
  position: absolute;
  left: 5rem;
  top: 274rem;
  border: solid 0.1rem rgba(101, 101, 107, 0.3000000119);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-rW3 .image-1-Mhh {
  margin-bottom: 5.5956rem;
  width: 39.7171rem;
  height: 26.4415rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-rW3 .ac-master-bedroom-thd {
  margin-bottom: 2.3275rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .room-tile-rW3 .auto-group-ofts-prB {
  margin: 0rem 4.38rem 0rem 0.219rem;
  width: calc(100% - 4.5993rem);
  height: 2.6675rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .room-tile-rW3 .auto-group-ofts-prB .group-2212-9tT {
  margin: 0rem 5.473rem 0.034rem 0rem;
  box-sizing: border-box;
  padding: 0.034rem 0rem 0.034rem 0.115rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rW3 .auto-group-ofts-prB .group-2212-9tT .doneoutlinefill0wght400grad0opsz24-1-UQw {
  margin: 0rem 0.525rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rW3 .auto-group-ofts-prB .group-2212-9tT .person-Q3h {
  margin-bottom: 0.0646rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rW3 .auto-group-ofts-prB .group-2213-8kP {
  margin-top: 0.0343rem;
  box-sizing: border-box;
  padding-left: 0.1152rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rW3 .auto-group-ofts-prB .group-2213-8kP .doneoutlinefill0wght400grad0opsz24-1-UJT {
  margin: 0rem 0.879rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rW3 .auto-group-ofts-prB .group-2213-8kP .kingsize-bed-yW7 {
  margin-bottom: 0.1332rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rZu {
  box-sizing: border-box;
  padding: 3.401rem 3.262rem 3.367rem 2.662rem;
  width: 45.6417rem;
  height: 46.3rem;
  position: absolute;
  left: 52.8rem;
  top: 274rem;
  border: solid 0.1rem rgba(101, 101, 107, 0.3000000119);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-rZu .image-1-AqV {
  margin-bottom: 5.5956rem;
  width: 39.7171rem;
  height: 26.4415rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-rZu .ac-master-bedroom-Jwh {
  margin-bottom: 2.3275rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .room-tile-rZu .auto-group-ehvf-2sh {
  margin: 0rem 4.38rem 0rem 0.219rem;
  width: calc(100% - 4.5993rem);
  height: 2.6675rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .room-tile-rZu .auto-group-ehvf-2sh .group-2212-m4b {
  margin: 0rem 5.473rem 0.034rem 0rem;
  box-sizing: border-box;
  padding: 0.034rem 0rem 0.034rem 0.115rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rZu .auto-group-ehvf-2sh .group-2212-m4b .doneoutlinefill0wght400grad0opsz24-1-gST {
  margin: 0rem 0.525rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rZu .auto-group-ehvf-2sh .group-2212-m4b .person-Cvb {
  margin-bottom: 0.0646rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rZu .auto-group-ehvf-2sh .group-2213-jvX {
  margin-top: 0.0343rem;
  box-sizing: border-box;
  padding-left: 0.1152rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rZu .auto-group-ehvf-2sh .group-2213-jvX .doneoutlinefill0wght400grad0opsz24-1-tHd {
  margin: 0rem 0.879rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-rZu .auto-group-ehvf-2sh .group-2213-jvX .kingsize-bed-1NF {
  margin-bottom: 0.1332rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-gUP {
  box-sizing: border-box;
  padding: 3.401rem 3.262rem 3.367rem 2.662rem;
  width: 45.6417rem;
  height: 46.3rem;
  position: absolute;
  left: 100.6rem;
  top: 274rem;
  border: solid 0.1rem rgba(101, 101, 107, 0.3000000119);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-gUP .image-1-BR9 {
  margin-bottom: 5.5956rem;
  width: 39.7171rem;
  height: 26.4415rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .room-tile-gUP .ac-master-bedroom-v7q {
  margin-bottom: 2.3275rem;
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .room-tile-gUP .auto-group-x78b-Sby {
  margin: 0rem 4.38rem 0rem 0.219rem;
  width: calc(100% - 4.5993rem);
  height: 2.6675rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .room-tile-gUP .auto-group-x78b-Sby .group-2212-NEj {
  margin: 0rem 5.473rem 0.034rem 0rem;
  box-sizing: border-box;
  padding: 0.034rem 0rem 0.034rem 0.115rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-gUP .auto-group-x78b-Sby .group-2212-NEj .doneoutlinefill0wght400grad0opsz24-1-V4T {
  margin: 0rem 0.525rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-gUP .auto-group-x78b-Sby .group-2212-NEj .person-1Hh {
  margin-bottom: 0.0646rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-gUP .auto-group-x78b-Sby .group-2213-8NK {
  margin-top: 0.0343rem;
  box-sizing: border-box;
  padding-left: 0.1152rem;
  height: calc(100% - 0.0343rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-gUP .auto-group-x78b-Sby .group-2213-8NK .doneoutlinefill0wght400grad0opsz24-1-USB {
  margin: 0rem 0.879rem 0rem 0rem;
  width: 2.4055rem;
  height: 1.9365rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .room-tile-gUP .auto-group-x78b-Sby .group-2213-8NK .kingsize-bed-Pp3 {
  margin-bottom: 0.1332rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .view-more-button-5B5 {
  width: 21rem;
  height: 5.4rem;
  position: absolute;
  left: 65.1rem;
  top: 328.5rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d45f0;
  border-radius: 1rem;
}
.exe-2-large-screen-3rF .our-villas-rooms-vhV {
  width: 50.1rem;
  height: 6.9rem;
  position: absolute;
  left: 50.6rem;
  top: 211.6rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .second-div-section-R8T {
  box-sizing: border-box;
  padding: 14.8rem 4.8rem 7.1rem 5rem;
  width: 151.2rem;
  height: 111rem;
  position: absolute;
  left: 0;
  top: 90rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.5);
}
.exe-2-large-screen-3rF .second-div-section-R8T .our-facilities-WQo {
  margin: 0rem 0.2rem 9.5rem 0rem;
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR {
  margin-bottom: 7rem;
  width: 100%;
  display: flex;
  column-gap: 1.8rem;
  align-items: flex-end;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM {
  width: 34rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-uxj {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-uxj .icon-and-text-dtj {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-uxj .icon-and-text-dtj .room-24-1-WLF {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-uxj .icon-and-text-dtj .hour-room-service-E1M {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-g8F {
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-g8F .icon-and-text-1RR {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-g8F .icon-and-text-1RR .room-24-1-ZC3 {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-b1tb-AVM .facility-tile-g8F .icon-and-text-1RR .hour-room-service-gGf {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD {
  width: 34rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-Twd {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-Twd .icon-and-text-zAs {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-Twd .icon-and-text-zAs .room-24-1-LVd {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-Twd .icon-and-text-zAs .hour-room-service-sEf {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-9T5 {
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-9T5 .icon-and-text-4pw {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-9T5 .icon-and-text-4pw .room-24-1-crT {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-xtep-LMD .facility-tile-9T5 .icon-and-text-4pw .hour-room-service-M3M {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 {
  width: 34rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-aRu {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-aRu .icon-and-text-W4f {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-aRu .icon-and-text-W4f .room-24-1-3qH {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-aRu .icon-and-text-W4f .hour-room-service-n2B {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-sJX {
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-sJX .icon-and-text-Q3Z {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-sJX .icon-and-text-Q3Z .room-24-1-9Ww {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-bvns-EN3 .facility-tile-sJX .icon-and-text-Q3Z .hour-room-service-Up7 {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM {
  margin-bottom: 0.2rem;
  width: 34rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-R75 {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-R75 .icon-and-text-jdZ {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-R75 .icon-and-text-jdZ .room-24-1-h4b {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-R75 .icon-and-text-jdZ .hour-room-service-pf1 {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-JaB {
  box-sizing: border-box;
  padding: 5.9rem 8.1rem 5.7rem 8.1rem;
  width: 100%;
  height: 29.3rem;
  border: solid 0.1rem rgba(161, 174, 241, 0.5);
  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-JaB .icon-and-text-ETq {
  box-sizing: border-box;
  padding-top: 1.225rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-JaB .icon-and-text-ETq .room-24-1-Bdy {
  margin: 0rem 0rem 3.025rem 0.02rem;
  width: 8.205rem;
  height: 7.35rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .facility-tile-group-dVR .auto-group-ynfy-sbM .facility-tile-JaB .icon-and-text-ETq .hour-room-service-WgF {
  max-width: 17.8rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .second-div-section-R8T .view-more-button-ntf {
  margin: 0rem 60.3rem 0rem 60.1rem;
  width: calc(100% - 120.4rem);
  height: 5.4rem;
  font-size: 2.6rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d45f0;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .hero-background-gradiant-2o1 {
  width: 151.2rem;
  height: 90rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(112.19deg, rgba(14, 22, 37, 0.9900000095) 42.38%, #101d46 55.69%);
}
.exe-2-large-screen-3rF .hero-image-v7h {
  width: 63.4rem;
  height: 74.4rem;
  position: absolute;
  left: 82.8rem;
  top: 20.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 7.1rem;
}
.exe-2-large-screen-3rF .booking-panel-SLw {
  box-sizing: border-box;
  padding: 4.2rem 11.1rem 3.8rem 6.6rem;
  width: 105.6rem;
  height: 17.5rem;
  position: absolute;
  left: 5rem;
  top: 68.7rem;
  display: flex;
  align-items: center;
  box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.150000006);
  background-color: rgba(255, 255, 255, 0.8999999762);
  border-radius: 1.6rem;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT {
  margin: 0.3rem 17.1rem 0rem 0rem;
  width: 42.7rem;
  height: 9.2rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .dd-mm-yyyy-sBM {
  width: 18.1rem;
  height: 3.2rem;
  position: absolute;
  left: 6.6rem;
  top: 10.4rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #65656b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .dd-mm-yyyy-xyV {
  width: 18.1rem;
  height: 3.2rem;
  position: absolute;
  left: 31.2rem;
  top: 10.5rem;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #65656b;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .group-2209-GjH {
  box-sizing: border-box;
  padding-right: 0.3rem;
  width: 11.9rem;
  height: 3.5rem;
  position: absolute;
  left: 6.6rem;
  top: 4.5rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .group-2209-GjH .arrival-nSj {
  margin-right: 0.7rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .group-2209-GjH .calendar-1-KSf {
  margin-bottom: 0.1rem;
  width: 1.8rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .group-2210-FLK {
  box-sizing: border-box;
  padding-right: 0.3rem;
  width: 17.5rem;
  height: 3.5rem;
  position: absolute;
  left: 31.2rem;
  top: 4.5rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .group-2210-FLK .departure-NA3 {
  margin-right: 0.7rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #000000;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .booking-panel-SLw .booking-panel-text-8zT .group-2210-FLK .calendar-2-VkT {
  margin-bottom: 0.1rem;
  width: 1.8rem;
  height: 2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .booking-panel-SLw .search-now-button--2Eb {
  margin-bottom: 0.4rem;
  box-sizing: border-box;
  padding: 2.9rem 3.7rem 3rem 5.2rem;
  display: flex;
  align-items: center;
  background-color: #1d45f0;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .booking-panel-SLw .search-now-button--2Eb .location-1-7Ww {
  margin-right: 1.4rem;
  width: 1.8rem;
  height: 2.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .booking-panel-SLw .search-now-button--2Eb .search-now-T51 {
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .hero-section-text-wks {
  width: 62.6rem;
  height: 38.7rem;
  position: absolute;
  left: 5rem;
  top: 20.1rem;
}
.exe-2-large-screen-3rF .hero-section-text-wks .explore-property-and-secure-your-ideal-home-H43 {
  margin-bottom: 5.7rem;
  max-width: 54.1rem;
  font-size: 6rem;
  font-weight: 800;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
}
.exe-2-large-screen-3rF .hero-section-text-wks .lorem-ipsum-dolor-sit-amet-consectetur-porttitor-leo-eros-in-urna-id-tortor-amet-non-libero-tellus-adipiscing-nibh-est-enim-purus-baX {
  max-width: 62.6rem;
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2999999183;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
}
.exe-2-large-screen-3rF .nav-UPR {
  box-sizing: border-box;
  padding: 0.3rem 0rem 0.439rem 0.4rem;
  width: 141.2rem;
  height: 9.3rem;
  position: absolute;
  left: 5rem;
  top: 2.5rem;
  display: flex;
  align-items: center;
}
.exe-2-large-screen-3rF .nav-UPR .logo-vector-krj {
  margin-right: 40.8rem;
  width: 11.8rem;
  height: 8.5608rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .nav-UPR .home-4cX {
  margin: 0.139rem 7.1rem 0rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .nav-UPR .facilities-mWw {
  margin: 0.139rem 6.9rem 0rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .nav-UPR .contact-us-trT {
  margin: 0.139rem 9.7rem 0rem 0rem;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .nav-UPR .call-button-2By {
  margin: 1.8rem 0rem 1.761rem 0rem;
  box-sizing: border-box;
  padding: 0.8rem 1.6rem 0.7rem 1.7rem;
  height: calc(100% - 3.5608rem);
  display: flex;
  align-items: center;
  background-color: #1d45f0;
  border-radius: 1.2rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .nav-UPR .call-button-2By .material-symbols-call-Kwm {
  margin: 0rem 0.3rem 0.1rem 0rem;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 1rem;
  flex-shrink: 0;
}
.exe-2-large-screen-3rF .nav-UPR .call-button-2By .item-91-000-00000-ej9 {
  font-size: 2.8rem;
  font-weight: 500;
  line-height: 1.2175;
  color: #ffffff;
  font-family: Montserrat, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}




@media screen and (max-width: 1425px) {
  .exe-2-large-screen-3rF {
    padding-bottom: 69px;
    box-sizing: border-box;
  }
  .exe-2-large-screen-3rF {
    padding-bottom: var(--padding-24xl);
    box-sizing: border-box;
  }
  .rectangle-group {
    flex-wrap: wrap;
  }
  .footer1 {
    width: calc(100% - 40px);
  }
}
@media screen and (max-width: 1200px) {
  .text-label {
    display: none;
  }
  .child-link {
    width: 370px;
    gap: 0 97px;
  }
  .booking-panel {
    flex-wrap: wrap;
    gap: var(--gap-151xl);
    padding-left: var(--padding-14xl);
    padding-right: var(--padding-14xl);
    box-sizing: border-box;
  }
  .frame-parent {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-6xl);
    box-sizing: border-box;
  }
  .second-div-section {
    padding-top: 96px;
    padding-bottom: 46px;
    box-sizing: border-box;
  }
  .fourth-div-section {
    padding-top: var(--padding-46xl);
    padding-bottom: 44px;
    box-sizing: border-box;
  }
  .fourth-divider {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .ready-to-stay-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .text-label {
    gap: 0 69px;
  }
  .explore-property-and-container {
    font-size: var(--font-size-29xl);
  }
  .rectangle-customer {
    gap: 36px 0;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .booking-panel {
    gap: var(--gap-151xl);
  }
  .frame-parent {
    gap: 83px 0;
  }
  .our-facilities {
    font-size: var(--font-size-26xl);
  }
  .facility-tile-group-parent {
    gap: 70px 0;
  }
  .second-div-section {
    gap: var(--gap-77xl);
    padding: var(--padding-43xl) var(--padding-5xl) var(--padding-11xl)
      var(--padding-6xl);
    box-sizing: border-box;
  }
  .social-media-icons {
    padding-bottom: 45px;
    box-sizing: border-box;
  }
  .our-villas-rooms {
    font-size: var(--font-size-26xl);
  }
  .mask-group {
    gap: 74px 0;
  }
  .container-parent {
    gap: 82px 0;
    padding-bottom: var(--padding-9xl);
    box-sizing: border-box;
  }
  .our-happy-customers {
    font-size: var(--font-size-26xl);
  }
  .rectangle-group {
    gap: 0 57px;
  }
  .customer-testimonials {
    gap: 33px 0;
  }
  .fourth-div-section {
    gap: var(--gap-57xl);
    padding: var(--padding-23xl) var(--padding-6xl) var(--padding-10xl);
    box-sizing: border-box;
  }
  .fourth-divider {
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .ready-to-stay {
    font-size: var(--font-size-37xl);
  }
  .book-your-escape {
    font-size: var(--font-size-13xl);
  }
  .footer1 {
    gap: 52px 0;
    padding-top: var(--padding-19xl);
    padding-bottom: 67px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .text-label {
    gap: 0 69px;
  }
  .child-link {
    gap: 0 97px;
  }
  .explore-property-and-container {
    font-size: var(--font-size-17xl);
  }
  .lorem-ipsum-dolor-container {
    line-height: 29px;
  }
  .arrival,
  .lorem-ipsum-dolor-container {
    font-size: var(--font-size-3xl);
  }
  .dd-mm-yyyy {
    font-size: var(--font-size-2xl);
  }
  .departure {
    font-size: var(--font-size-3xl);
  }
  .dd-mm-yyyy1 {
    font-size: var(--font-size-2xl);
  }
  .frame-container {
    gap: 0 64px;
  }
  .search-now-button {
    padding-left: var(--padding-xl);
    box-sizing: border-box;
  }
  .booking-panel {
    gap: var(--gap-151xl);
  }
  .frame-parent {
    gap: 83px 0;
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
  .our-facilities {
    font-size: var(--font-size-15xl);
  }
  .hour-room-service-container {
    font-size: var(--font-size-xl);
  }
  .facility-tile {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hour-room-service-container1 {
    font-size: var(--font-size-xl);
  }
  .facility-tile1 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hour-room-service-container2 {
    font-size: var(--font-size-xl);
  }
  .facility-tile2 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hour-room-service-container3 {
    font-size: var(--font-size-xl);
  }
  .facility-tile3 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hour-room-service-container4 {
    font-size: var(--font-size-xl);
  }
  .facility-tile4 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hour-room-service-container5 {
    font-size: var(--font-size-xl);
  }
  .facility-tile5 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hour-room-service-container6 {
    font-size: var(--font-size-xl);
  }
  .facility-tile6 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .hour-room-service-container7 {
    font-size: var(--font-size-xl);
  }
  .facility-tile7 {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .facility-tile-group-parent {
    gap: 70px 0;
  }
  .second-div-section {
    gap: var(--gap-77xl);
  }
  .our-villas-rooms {
    font-size: var(--font-size-15xl);
  }
  .ac-master-bedroom,
  .kingsize-bed,
  .person {
    font-size: var(--font-size-base);
  }
  .rectangle-two {
    flex-wrap: wrap;
    gap: 0 50px;
  }
  .room-tile {
    gap: 56px 0;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .ac-master-bedroom1,
  .kingsize-bed1,
  .person1 {
    font-size: var(--font-size-base);
  }
  .frame-group {
    flex-wrap: wrap;
    gap: 0 50px;
  }
  .room-tile1 {
    gap: 56px 0;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .ac-master-bedroom2,
  .kingsize-bed2,
  .person2 {
    font-size: var(--font-size-base);
  }
  .frame-parent1 {
    flex-wrap: wrap;
    gap: 0 50px;
  }
  .room-tile2 {
    gap: 56px 0;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .ac-master-bedroom3,
  .kingsize-bed3,
  .person3 {
    font-size: var(--font-size-base);
  }
  .frame-parent2 {
    flex-wrap: wrap;
    gap: 0 50px;
  }
  .room-tile3 {
    gap: 56px 0;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .ac-master-bedroom4,
  .kingsize-bed4,
  .person4 {
    font-size: var(--font-size-base);
  }
  .frame-parent3 {
    flex-wrap: wrap;
    gap: 0 50px;
  }
  .room-tile4 {
    gap: 56px 0;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .ac-master-bedroom5,
  .kingsize-bed5,
  .person5 {
    font-size: var(--font-size-base);
  }
  .frame-parent4 {
    flex-wrap: wrap;
    gap: 0 50px;
  }
  .room-tile5 {
    gap: 56px 0;
    padding-top: var(--padding-3xl);
    padding-bottom: var(--padding-3xl);
    box-sizing: border-box;
  }
  .mask-group {
    gap: 74px 0;
  }
  .container-parent {
    gap: 82px 0;
  }
  .our-happy-customers {
    font-size: var(--font-size-15xl);
  }
  .lorem-ipsum-dolor-container1 {
    font-size: var(--font-size-xl);
    line-height: 26px;
  }
  .fourth-div-section {
    gap: var(--gap-57xl);
  }
  .ready-to-stay {
    font-size: 42px;
  }
  .book-your-escape {
    font-size: var(--font-size-5xl);
  }
  .contact-us1,
  .facilities1,
  .home1 {
    font-size: var(--font-size-xl);
  }
  .social-links {
    flex-wrap: wrap;
  }
}
